form(id="doc",onsubmit="return submitDoc();")
  div.form_standard

    each v, i in fixedfields
      div.form_field
        if i == "status"
          label.form_label(for="#{i}") #{i}
          select.input_select(id="status",name="status")
            each j in ["Provisional","Live","Deleted"]
              option(selected= doc[i] == j) #{j}
        else if i == "_id" || i == "_rev"
          input(type="hidden",id="#{i}",name="#{i}",value="#{doc[i]}")
        else if i == "url" && doc["_rev"].length > 0
          label.form_label(for="#{i}") #{i}
          input.input_text(type="text",id="#{i}",name="#{i}",value="#{doc[i]}",readonly="readonly")
        else if i == "body"
          label.form_label(for="#{i}") #{i}
          textarea.input_textarea(id="#{i}",name="#{i}",rows="5") #{doc[i]?doc[i]:''}
        else
          label.form_label(for="#{i}") #{i}
          input.input_text(type="text",id="#{i}",name="#{i}",value="#{doc[i]}")
                
    each v, i in schema
      div.form_field
        if (i !='_id' && i != '_rev') 
      
          label.form_label(for="#{i}") #{i}
          if v.type == "string" 
            if typeof v.enforceValues == "boolean" && v.enforceValues && v.values
              select.input_select(id="#{i}",name="#{i}")
                each j in v.values
                  option(selected= doc[i] == j) #{j}
            else
              input.input_text(id="#{i}",type="text",name="#{i}",value="#{doc[i]?doc[i]:''}")
          if v.type == "number"
            input.input_text(id="#{i}",type="text",name="#{i}",value="#{doc[i]?doc[i]:''}")
          if v.type == "boolean"
            select.input_select(id="#{i}",name="#{i}")
              each j in ["false","true"]
                option(selected= doc[i] ==j) #{j}
          if v.type == "arrayofstrings"
            - var str = (typeof doc[i] == 'object')?doc[i].join(','):doc[i];
            - if (str == undefined) { str = "" };
            - if (v.values != undefined) {
            - var selectedOpts = str.split(",");
            select(id="#{i}",name="#{i}",class="input_select",multiple="multiple")
              each o in v.values
                - if (selectedOpts.indexOf(o) == -1) {
                  option(value="#{o}") #{o}
                - }
                - else {
                  option(value="#{o}" selected="selected") #{o}
                - }
            - }
            
    div.form_field#submiterror

    button#submitdocbtn.button_primary(type="submit") Submit
    
    script(type="text/javascript").
        $( document ).ready(function() {
          $('select[multiple]').multiselect({
            columns: 3,
            selectAll: true,
            texts: {
              placeholder: ' ',
              selectAll: "Select/Deselect All"
            }
          });
          
          $("#level").prop("selectedIndex", -1);
        });
