doctype html
html(lang="en")
head
  include head.jade
body
  include nav.jade

  div.container
      
    h2 Create new provisional document
    div
      form(id="provisional",onsubmit="return submitProvisional();")
        div.form-group
          input.form-control(id="url",type="url",name="url",value="",placeholder="Enter URL here")
        div.form-group#error
        button.btn.btn-default(type="submit") Submit
      
    hr 
    
    h2 Create new document (all fields)
    div
      a.btn.btn-default(href="/doc") Create New Document
      
    h2 Provisional documents
    ul
      - var status = "";
      - for(var i in docs.rows) {
        - var d = docs.rows[i];
        - if (docs.rows[i].key == "Provisional") { 
          li
            a(href="/doc/#{d.id}") 
              b #{d.value.name}
            br 
            span(class="muted") #{d.value.url}
          - }
        - }
        
    h2 Live documents
    ul
      - var status = "";
      - for(var i in docs.rows) {
        - var d = docs.rows[i];
        - if (docs.rows[i].key == "Live") { 
          li
            a(href="/doc/#{d.id}") #{d.value.name}
           - }
        - }      

    h2 Deleted documents
    ul
      - var status = "";
      - for(var i in docs.rows) {
        - var d = docs.rows[i];
        - if (d.key == "Deleted") { 
          li
            a(href="/doc/#{d.id}") #{d.value.name}
          - }
        - }      

