- if (docs && docs.rows) {
  - if (err) {
    tr.errrow
      td(colspan="4")
        div.alert-container.warning(role="alert") #{err}
  - }
  each d, index in docs.rows
   - if (index == docs.rows.length - 1) {
    tr.docrow(data-bookmark="#{docs.bookmark}",data-total-rows="#{docs.total_rows}")
      td
        - if (d.status && d.status.toLowerCase() !== "deleted") {
          input.input_checkbox.select_checkbox(type="checkbox", id="#{d.id}", name="#{d.id}")
        - }
        - else {
          input.input_checkbox.select_checkbox(type="checkbox", disabled="true", id="#{d.id}", name="#{d.id}")
        - }
        label.input_checkbox-handle(for="#{d.id}")
      td #{d.status}
      td #{d.date}
      td
        a.type_link(href="doc?id=#{d.id}") #{d.name}
      td
        - if (d.status && d.status.toLowerCase() == "provisional") {
          span.muted #{d.url}
        - }
   - }
   - else {
    tr.docrow
      td
        - if (d.status && d.status.toLowerCase() !== "deleted") {
          input.input_checkbox.select_checkbox(type="checkbox", id="#{d.id}", name="#{d.id}")
        - }
        - else {
          input.input_checkbox.select_checkbox(type="checkbox", disabled="true", id="#{d.id}", name="#{d.id}")
        - }
        label.input_checkbox-handle(for="#{d.id}")
      td #{d.status}
      td #{d.date}
      td
        a.type_link(href="doc?id=#{d.id}") #{d.name}
      td
        - if (d.status && d.status.toLowerCase() == "provisional") {
          span.muted #{d.url}
        - }
   - }
- }

script(type="text/javascript").
  $(document).ready(function() {
    var checked = 0;
    $('.select_checkbox')
      .each(function() {
        $(this).change(function() {
          if($(this).is(":checked")) {
            checked++;
          } else {
            checked--;
          }
          $('#deletebutton').prop('disabled', checked === 0);
        });
      });
    $('#deletebutton').prop('disabled', checked === 0);
  });